*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
body{
    width: 100%;
    background-color:whitesmoke;
}
.registration{
    background-color: #fff;
    position: absolute;
    width:380px;
    height: 315px;
    padding: 10px 5px 20px 5px;
    margin-top: -130px;
    margin-left:845px;
    border-radius: 8px;
    box-shadow: 5px 5px 6px -7px;
}
.input{
    display: block;
    background-color: #fff;
    margin-left:10px;
    border: 1.5px solid rgb(200,200,200);
    width:350px;
    height:25px;
    padding:10px 5px;
    border-radius: 5px;
    text-align: center;
    color:black;
    font-family:'Arial';
    font-size: 15px;
    text-align: left;
}
#button{
    border: none;
    background-color: #1877f2;
    color: white;
    margin: auto;
    width:370px;
    height:45px;
    display: block;
    border-radius: 5px;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.f-pws{
    margin: auto;
    display: block;
    width: 200px;
    color: #1877f2;
    padding-left: 80px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
}
.bnt2{
    width: 270px;
    height: 50px;
    font-size: 18px;
    background-color: #28a110;
    border-radius: 5px;
    padding:4px 0px;
    margin:5px 60px;
    border:none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.sub-link{
    width: 400px;
    color:rgb(160, 157, 157);
    font-family:"Arial";
    margin-left:850px;
    margin-top:130px;
    font-size: 15px;
    font-weight: 600;
}
#company{
    margin-left: 160px;
}
.sub-link h3{
    font-size:13px;
}
.sub-link h3 a:hover{
    color:black;
    font-weight: bold;
    font-size:13px;
    text-decoration: underline;
}

.f-container{
    width: 320px;
    margin-left: 260px;
    margin-top: 260px;
}

.f-container img{
    width:350px;
    margin-top:-300px;
    margin-left: -33px;
}
#Faceundertxt{
    font-size: 29px;
    width:500px;
    font-weight: 200;
}
p{
    font-size: 20px;
    font-weight: 600;
    word-spacing: 3px;
}
.block2{
    width: 100%;
    
    margin-top:250px;
    background-color: white;
}   
.txt{
    font-size: 14px;
    margin-left: 300px;
    padding: 12px;
    font-weight: 100;

}
span:hover{
    padding:6px;
    cursor: pointer;
    text-decoration: underline;
}
#horizontalline{
    width:1030px;
    margin-left: 320px;
}
.block3{
    margin-left:-40px;
    padding:5px;
}
#Meta{
    margin-left: 275px;
    font-size: 12px;
}
